<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid container">
    <a class="navbar-brand" href="{{url_for('home')}}">Hastag_site_Rogerio</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('usuarios')}}">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('insight')}}">Insights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('login_cc')}}">criar conta</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('login_cc')}}">login</a>
       </li>
      </ul>
      <ul class="d-flex navbar-nav">


      </ul>
    </div>
  </div>
</nav>